<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app = "mine">

<head>
    <title>DataBite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://cdn5.bigcommerce.com/r-a2832a4688ce29764def846020ed5b29c4ced5ef/themes/__master/Styles/styles.css" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/styles.css" media="all" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/green.css" media="all" type="text/css" rel="stylesheet" />
    <style type="text/css"> #Container { background-image: url("../images/headerImage.jpg"); } </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="icon" href="http://rohithvutnoor.com/images/icons/favicon.png">
    <script  type = "text/javascript">
        var mine = angular.module('mine',[]);

        //controller 0
        mine.controller("my",function($scope){
            $scope.game = "Cricket";
        });

    </script>
</head>


<body>
<div id="Container">
    <div id="Outer">
        <div id="Header">
            <br class="Clear" />
        </div>
        <div id="Menu">
            <center><%= title%></center>
        </div>


        <div id="Wrapper">

            <!--    <div class="Left" id="LayoutColumn1">

             !--            <div class="Block CategoryList Moveable Panel" id="SideCategoryList">
                                  <h2>Start Shopping!</h2>
                                  <div class="BlockContent">
                                      asd
                                  </div>
                              </div>


                  <div class="Block SideRelatedProducts Moveable Panel" style="" id="SideProductRelated">
                      <h2>Related Products</h2>
                      <div class="BlockContent">
                          <br><br>


                      </div>
                  </div>




              </div>-->

            <div class="Content" id="LayoutColumn2" ><!--ng-controller="my"-->
                <!--{{game}}
                <br>--><h2>Thank You Visit Again</h2>
                        You have Bought <%= data[0] %>&nbsp;<%= data[1]%>&nbsp;<%= data[2]%>

                </p>
                <br><br><br><br><br><br>
                <div>
                    <% data.forEach(function(item){%>
                    <div class="imgs"><a href="/product/<%= item%>">
                            <div class="card" style="width: 30rem;">
                                <center><img class="card-img-top"  style="width: 200px; height: 120px;" src="../images/productImage/<%= item%>.jpg" alt="Card image cap">
                                </center><div class="card-block">
                                    <center><h4 class="card-title"><%= item%></h4></center>
                                </div>
                            </div></a>
                    </div>
                    <%});%>
                    <style>
                        .imgs{
                            float:left;
                            align-content: center;
                        }
                    </style>
                </div>

            </div>
            -
        </div>

        <br class="Clear" />

    </div>
</div>

<div id="Footer">
    <p>RohithVutnoor</p>
</div>

</body>
</html>