<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app = "mine">

<head>
    <title>DataBite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://cdn5.bigcommerce.com/r-a2832a4688ce29764def846020ed5b29c4ced5ef/themes/__master/Styles/styles.css" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/styles.css" media="all" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/green.css" media="all" type="text/css" rel="stylesheet" />
    <style type="text/css"> #Container { background-image: url("../images/headerImage.jpg"); } </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
    <script  type = "text/javascript">
        var mine = angular.module('mine',[]);

        //controller 0
        mine.controller("my",function($scope){
            $scope.game = "Cricket";
        });

    </script>
</head>


<body>
<div id="Container">
    <div id="Outer">
        <div id="Header">
            <br class="Clear" />
        </div>
        <div id="Menu">
            <center><%= title%></center>
        </div>


        <div id="Wrapper">

            <div class="Left" id="LayoutColumn1">

    <!--            <div class="Block CategoryList Moveable Panel" id="SideCategoryList">
                    <h2>Start Shopping!</h2>
                    <div class="BlockContent">
                        asd
                    </div>
                </div>
    -->

                <div class="Block SideRelatedProducts Moveable Panel" style="" id="SideProductRelated">
                    <h2>Related Products</h2>
                    <div class="BlockContent">
                        <br><br>
                        <form action="/product/order" method="post" >
                            <div class="imgs">
                                    <div class="card" style="width: 30rem;"><a href="/product/<%= data[11].name%>">
                                        <img class="card-img-top"  style="width: 200px; height: 100px;" src="../images/productImage/<%= data[11].name%>.jpg" alt="Card image cap">
                                        <div class="card-block">
                                            <br><h4 class="card-title"><%= data[11].name%></h4>
                                        </div></a><input type="checkbox" name="cart" value="<%= data[11].name%>@<%= currentItem.rank%>"/>
                                    </div>
                            </div>
                            <br><br>+<br>
                            <div class="imgs">
                                <div class="card" style="width: 30rem;"><a href="/product/<%= data[0].name%>">
                                        <img class="card-img-top"  style="width: 200px; height: 100px;" src="../images/productImage/<%= data[0].name%>.jpg" alt="Card image cap">
                                        <div class="card-block">
                                            <br><h4 class="card-title"><%= data[0].name%></h4>
                                        </div></a><input type="checkbox" name="cart" value="<%= data[0].name%>@0"/>
                                </div>
                            </div>
                            <br><br>+<br>
                            <div class="imgs">
                                    <div class="card" style="width: 30rem;"><a href="/product/<%= data[1].name%>">
                                        <img class="card-img-top"  style="width: 200px; height: 100px;" src="../images/productImage/<%= data[1].name%>.jpg" alt="Card image cap">
                                        <div class="card-block">
                                            <br><h4 class="card-title"><%= data[1].name%></h4>
                                        </div></a><input type="checkbox" name="cart" value="<%= data[1].name%>@0"/>
                                    </div>
                            </div>
                            <br><br>+<br>
                        <div class="imgs">
                                <div class="card" style="width: 30rem;"><a href="/product/<%= data[2].name%>">
                                    <img class="card-img-top"  style="width: 200px; height: 100px;" src="../images/productImage/<%= data[2].name%>.jpg" alt="Card image cap">
                                    <div class="card-block">
                                        <br><h4 class="card-title"><%= data[2].name%></h4>
                                    </div></a><input type="checkbox" name="cart" value="<%= data[2].name%>@0"/>
                                </div>
                        </div><br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class = "btn btn-primary" type="submit" name="Add to Cart" value = "Add to Cart" />
                        </form>

                    </div>
                </div>
                <style>
                    .imgs{
                        float:left;
                        align-content: center;
                    }
                </style>



            </div>

           <div class="Content" id="LayoutColumn2" ><!--ng-controller="my"-->
                <!--{{game}}
                <br>-->
                <br><br><br>
               <p>
                   <img src="../images/productImage/<%= name%>.jpg" alt="Smiley face" width="350" height="300" align="left">
                   <h3>Name: &nbsp;<%= name %><br><br>
                   Price: &nbsp;<%= currentItem.price%></h3>
               </p><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
               <h2>Nutrients</h2>
               <h3>
                   Calories : <%= currentItem.nutrients.calories%><br><br>
                   Fat : <%= currentItem.nutrients.fat%><br><br>
                   Cholestrol : <%= currentItem.nutrients.cholestrol%><br><br>
                   Sodium : <%= currentItem.nutrients.sodium%><br><br>
                   Potassium : <%= currentItem.nutrients.potassium%><br><br>
                   Carbohydrates : <%= currentItem.nutrients.carbohydrates%><br><br>
                   Fiber : <%= currentItem.nutrients.fiber%><br><br>
                   Sugar : <%= currentItem.nutrients.sugar%><br><br>
                   Proteins : <%= currentItem.nutrients.protein%><br><br>
                   Vitamin A : <%= currentItem.nutrients.vitaminA%><br><br>
                   Vitamin C : <%= currentItem.nutrients.vitaminC%><br><br>
                   Calcium : <%= currentItem.nutrients.calcium%><br><br>
                   Iron : <%= currentItem.nutrients.iron%><br><br>
                   Vitamin D : <%= currentItem.nutrients.vitaminD%><br><br>
                   Vitamin B6 : <%= currentItem.nutrients.vitaminB6%><br><br>
                   Vitamin B12 : <%= currentItem.nutrients.vitaminB12%><br><br>
                   Magnesium : <%= currentItem.nutrients.magnesium%><br><br>

               </h3>
               <br><br><br>
               <h3><strong>Product Description</strong></h3>
               <h4>
                   <%= currentItem.description%>
               </h4><br><br><br>
               <h3><strong>Cultivation Description</strong></h3>
               <h4>
                   <%= currentItem.cultivation%>
               </h4>
               <br><br><br><br>
               <img src="../images/productMap/<%= name%>.jpg" alt="Smiley face" width="500" height="600" align="left">
            </div>
            -
        </div>

        <br class="Clear" />

    </div>
</div>

<div id="Footer">
    <p>RohithVutnoor</p>
</div>

</body>
</html>